# Xcode
.DS_Store
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# User-specific settings
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa

# Xcode 14+ Previews cache
*.swiftpm/
.project.xcworkspace/

# SwiftUI Canvas / Live Preview files
*.canvas
.DS_Store
ScalablePackageNavigation/.DS_Store
ScalablePackageNavigation/ScalablePackageNavigation/.DS_Store
.DS_Store
